<!doctype html>
<html lang="en">

<head>
    <title>iMarket Admin</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/admin.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container pt-1 pb-1">
            <a class="navbar-brand" href="../Views/home.html">iMarket</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../Views/login.html">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" id="add">
        <div class="row text-left">
            <div class="col-12">
                <h4>Add Markets</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form id="addMarket">
                    <div class="form-group w-75">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Market name">
                    </div>
                    <div class="form-group w-75">
                        <input type="date" class="form-control" name="date" id="date" placeholder="Market date">
                    </div>
                    <div class="form-group w-75">
                        <input type="text" class="form-control" name="place" id="place" placeholder="Market place">
                    </div>
                    <div class="form-group w-75">
                        <input type="number" class="form-control" name="num_tent" id="num_tent"
                            placeholder="Market number of tents">
                    </div>
                    <div class="form-group w-75">
                        <input type="number" class="form-control" name="admin" id="admin" readonly>
                    </div>
                    <button type="submit" class="btn btn-primary">Add New Market</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container" id="myMarkets">
        <div class="row text-left">
            <div class="col-12">
                <h4>Existent Markets</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Market ID</th>
                            <th scope="col">Market Name</th>
                            <th scope="col">Market Place</th>
                            <th scope="col">Market Date</th>
                            <th scope="col">Market Number of Tends</th>
                            <th scope="col">Delete</th>
                            <th scope="col">Update</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">

                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editMarket">
                        <div class="form-group w-75">
                            <input type="text" class="form-control" name="name" id="name_edit"
                                placeholder="Market name">
                        </div>
                        <div class="form-group w-75">
                            <input type="date" class="form-control" name="date" id="date_edit"
                                placeholder="Market date">
                        </div>
                        <div class="form-group w-75">
                            <input type="text" class="form-control" name="place" id="place_edit"
                                placeholder="Market place">
                        </div>
                        <div class="form-group w-75">
                            <input type="number" class="form-control" name="num_tent" id="num_tent_edit"
                                placeholder="Market number of tents">
                        </div>

                        <div class="form-group w-75">
                            <input type="number" class="form-control" name="admin" id="admin2" readonly>
                        </div>
                        <button type="submit" class="btn btn-primary">Edit Market</button>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="../Js/admin.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>